extends layout

block title
  ="Delete Category: " + category.name
block content
  h1= "Delete Category: " + category.name
  p= category.description
  if items.length 
    h2 Delete these items before deleting this category
    ul
      each item in items
        li
          a(href=item.url) 
            h2= item.name
          p= item.description
  else
    form(method="post")
      if category.hoursSinceCreate >= 12
        p Since this category has been created more than 12 hours before, enter the secret password to delete it.
        label(for="password") Enter Secret Password
        input(id="password" name="password" type="password")
      button Confirm delete
    if error
      p Wrong password!
