extends layout

block title
  ="Delete Category: " + category.name
block content
  .flex.flex-col.items-center.m-6.text-xl.gap-6 
    h2.text-2xl.underline= "Category: " + category.name
    p= category.description
    if items.length 
      h2 Delete these items before deleting this category
      ul.flex.flex-col.gap-6
        each item in items
          li.rounded.p-6.shadow-lg.bg-gray-400
            a(href=item.url) 
              h3.text-3xl= item.name
            p ₹   
              span.font-medium.text-2xl #{item.price}
            p
              span.font-medium.text-2xl #{item.number_in_stock} 
              .
                in stock
    else
      form(method="post").flex.flex-col.gap-6.items-center.items-center.w-96
        if category.hoursSinceCreate >= 12
          .flex.flex-col.gap-3.bg-gray-400.p-6.rounded-lg.shadow
            p Since this category has been created more than 12 hours before, enter the secret password to delete it.
            label(for="password") Enter Secret Password
            input(id="password" name="password" type="password")
        if error
          p.text-red-600 Wrong password!
        button.rounded.self-center.px-3.py-1.shadow-lg.bg-red-500 Confirm delete
