extends layout

block title
  ="Category: " + category.name
block content
  .flex.flex-col.items-center.m-6.text-xl.gap-6 
    h2.text-2xl.underline= "Category: " + category.name
    p= category.description
    .flex.gap-6.mb-6
      a(href=`${category.url}/update`).rounded.px-3.py-1.shadow-lg.bg-gray-400 Update
      a(href=`${category.url}/delete`).rounded.px-3.py-1.shadow-lg.bg-gray-400 Delete
    if items.length
        ul.flex.flex-col.gap-6
          each item in items
            li.rounded.p-6.shadow-lg.bg-gray-400
              a(href=item.url) 
                h3.text-3xl= item.name
              p ₹ 
                span.font-medium.text-2xl #{item.price}
              p
                span.font-medium.text-2xl #{item.number_in_stock} 
                .
                  in stock
    else
      p There are no items of this category
